<a href="https://colab.research.google.com/github/inoue0426/AVCapturePhotoOutput_test/blob/master/notebooks/DeepImpute.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install deepimpute

Installing collected packages: tf-estimator-nightly, configparser, deepimpute
Successfully installed configparser-5.2.0 deepimpute-1.2 tf-estimator-nightly-2.8.0.dev2021122109

In [ ]:
from deepimpute.multinet import MultiNet
import pandas as pd

In [ ]:
multinet = MultiNet()

Using all the cores (2)

In [ ]:
NN_params = {
        'learning_rate': 1e-4,
        'batch_size': 64,
        'max_epochs': 200,
        'ncores': 5,
        'sub_outputdim': 512,
        'architecture': [
            {"type": "dense", "activation": "relu", "neurons": 200},
            {"type": "dropout", "activation": "dropout", "rate": 0.3}]
    }

multinet = MultiNet(**NN_params)

In [ ]:
!wget -O data.txt.gz \
'https://www.ncbi.nlm.nih.gov/geo/download/?acc=GSE57249&format=file&file=GSE57249%5Ffpkm%2Etxt%2Egz'
!gunzip data.txt.gz

--2022-04-03 17:43:17--  https://www.ncbi.nlm.nih.gov/geo/download/?acc=GSE57249&format=file&file=GSE57249%5Ffpkm%2Etxt%2Egz
Resolving www.ncbi.nlm.nih.gov (www.ncbi.nlm.nih.gov)... 130.14.29.110, 2607:f220:41e:4290::110
Connecting to www.ncbi.nlm.nih.gov (www.ncbi.nlm.nih.gov)|130.14.29.110|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2970971 (2.8M) [application/octet-stream]
Saving to: ‘data.txt.gz’

data.txt.gz         100%[===================>]   2.83M  --.-KB/s    in 0.1s

2022-04-03 17:43:17 (21.9 MB/s) - ‘data.txt.gz’ saved [2970971/2970971]

In [ ]:
data = pd.read_csv('data.txt', index_col=0, sep='\t').reset_index(drop=True)
data.columns = range(data.shape[1])

In [ ]:
data.head()

,0,1,2,3,4,5,6,7,8,9,...,46,47,48,49,50,51,52,53,54,55
0,25.8078,36.7561,8.87692,24.5712,31.2255,24.7722,40.745800,38.41550,43.4644,32.3039,...,28.04380,5.55538,16.9205,14.552100,51.47380,1.28556,40.56320,0.00000,0.084052,0.00000
1,93.4291,92.1165,94.59080,107.0380,121.4490,139.3230,0.960904,162.72700,121.1760,132.2440,...,112.88000,27.00820,105.0870,70.179700,41.61460,131.12900,56.93390,8.76009,3.831900,2.78523
2,0.0000,0.0000,0.00000,0.0000,0.0000,0.0000,0.000000,0.00000,0.0000,0.0000,...,0.00000,0.00000,0.0000,0.261558,0.00000,0.00000,0.00000,0.00000,0.000000,0.00000
3,37.9544,22.4305,23.34200,42.2728,23.8579,32.4989,15.721000,37.73550,48.2360,34.3155,...,1.08452,0.00000,0.0000,0.000000,4.74386,0.00000,2.09974,0.00000,0.000000,0.00000
4,0.0000,0.0000,0.00000,0.0000,0.0000,0.0000,0.000000,1.19912,0.0000,0.0000,...,0.00000,0.00000,0.0000,0.000000,0.00000,0.00000,0.00000,0.00000,0.000000,0.00000

In [ ]:
multinet.fit(data, cell_subset=1, minVMR=0.5)

Input dataset is 25737 cells (rows) and 56 genes (columns)
First 3 rows and columns:
         0        1         2
0  25.8078  36.7561   8.87692
1  93.4291  92.1165  94.59080
2   0.0000   0.0000   0.00000
512 genes selected for imputation
Net 0: 0 predictors, 512 targets
Normalization
Building network
[{'type': 'dense', 'activation': 'relu', 'neurons': 200}, {'type': 'dropout', 'activation': 'dropout', 'rate': 0.3}]

AttributeError: ignored